@import "variables";



.contenedor-contacto{
    grid-area: main;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "form"
    "info"
    ;
    
    gap: 30px;
    height: 100%;
    padding: 10px;
    background-color: $secondary-color;
    margin-left: 30px;
}
    
.formulario{
    grid-area: form;
    margin-top: 80px;
    background-color: $secondary-color;
    padding: 20px;
}


form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1000px;
}


form label{
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 20px;
}


form textarea{
    padding: 50px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;

}

form input[type="submit"]{
    background-color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: aliceblue;
}

.datos{
    grid-area: info;
    place-items: center;
    background-color: $secondary-color;
    color: $text-color;
    padding: 20px;
    

}

.h2-contacto{
    color: $text-color;
    font-size: $font-size-h2;
    text-transform: uppercase;
    text-align: start;
    margin-top: 50px;
    margin-bottom: 60px;
}

.datos h3{
    color: $text-color;
    font-size: 30px;
    text-decoration: solid;
}

.datos div{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.datos div img{
    height: 40px;
}

.datos p{
    margin-bottom: 40px;
}

.datos p a{
    color: $text-color;
    font-size: 18px;
    text-decoration: none;
}


/*------mediaquery------ */

@media(min-width: 768px){
    .contenedor-contacto{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-template-areas:
    
    "info form";
    height: 100vh;
    }
}