@import "variables";

footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
    
}

.nav-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
    list-style: none;
    
}

.redes-footer{
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 10px;
}

footer nav{
    display: flex;
    justify-content: center;
}

footer img{
    height: 40px;
    width: 40px;
    
}

/* ------mediaquery--------- */

@media (min-width: 600px){

    footer .nav-link{
        font-size: 12px;
    }

}

@media (min-width: 768px){

    footer{
        height: 110px;
        align-items: center;
    }

}

@media (min-width: 1024px){

    footer{
        height: 120px;
        align-items: center;
    }


    footer .nav-link{
        font-size: 20px;
    }

}