@import "variables";
@import "header";
@import "grid";

.productos{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    padding: 20px 20px;
}

.h2-productos{
    color: $text-color;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.prod-img{
    padding: 20px;
    flex-basis: 50%;
    margin: 15px;
    box-shadow: 0 0 20px black;
    text-align: center;
}

.prod-img:hover{
    transform: scale(1.1);
}

.productos img{
    height: 400px;
    max-width: 100%;
    margin-right: 15px;
    margin-bottom: 20px;

}

.productos-h3{
    font-size: 20px;
    color: $text-color;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.productos-p{
    font-size: 15px;
    color: $text-color;
    margin-bottom: 15px;
}
.productos-button{
    background-color: black;
    padding: 5px 10px;
    color:white;
    text-decoration: none;
    font-weight: 800;
    cursor: pointer;
}
.productos-button:hover{
    background-color: white;
    color: black;
}

/* ----------------mediaquery----------------- */

/* @media (min-width: 768px) {
    .productos{
        display: grid;
        grid-template-columns: repeat(1fr 1fr);
    }
}

@media (min-width: 1024px){
    .productos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
} */

    
